<div class='posting card'>
    <div class='card-header'>
        <h2>New Post Here</h2> 
    </div>
    <form id='new-post' class='card-body'>
        <label class='form-label' for='post-title'>Post Title</label>
        <input type='text' name='post-title' class='form-input' />

        <label class='form-label' for='post-body'>Post Content</label>
        <textarea name='post-body' class='form-input'></textarea>

        <button type='submit' class='button'>Post Create</button>
    </form>
</div>

<script src='/public/js/newpost.js'></script>