<div class='card'>
    <div class='card-header'>
        <h2>Register</h2>
    </div>
    <div id='register' role='tabpanel'>
        <form id='reg-form' class='card-body'>
            <div>
                <label for='username-input-register'>UserName:</label>
                <input type='text' id='username-input-register' />
            </div>
            <div>
                <label for='password-input-register'>Password:</label>
                <input type='password' id='password-input-register' />
            </div>
            <button type='submit' id='register-button' class='button'>Register</button>
            <a href='/login'>Click Here to Login</a>
        </form>
    </div>
</div>

<script src='/public/js/register.js'></script>