<!DOCTYPE html>
<html lang ='en'>

<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale+1.0">
    <title>Model-View-Controller Tech Blog</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="wrapper">
        <header class="hero">
            <div>
                <nav class = "nav">
                    <a class="link" href="/">Homepage</a>
                    <a class="link" href="/dash">Dashboard Page</a>
                    {{#if loggedIn}}
                    <a class ="link" href="/" id="sign-out">Sign Out</a>
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}}
                </nav>
            </div>
            <h1 class="title">TK's Tech Blog</h1>
        </header>

        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src='/public/js/logout.js'></script>
    {{/if}}
</body>


</html>